<?xml version="1.0"?>
<phpunit
    bootstrap="bootstrap.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    verbose="true"
>
    <testsuites>
        <testsuite name="woo-price-editor">
            <directory>./</directory>
            <exclude>./helpers</exclude>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../includes</directory>
            <file>../woo-price-editor.php</file>
        </whitelist>
    </filter>
    <php>
        <const name="WP_TESTS_MULTISITE" value="0" />
    </php>
</phpunit>
